.taspih{
    width: 150px;
    height: 175px;
    background-color: coral;
    border-color:chocolate;
    position:absolute;
    top: 10%;
    left: 40%;
    border-radius: 20%;
    border: 1px saddlebrown;
}
.ekran{
    width: 55%;
    position: absolute;
    top: 10%;
    left: 20%;
    height: 30px;
    caret-color:white;
    border-radius: 9%;
    border: 1px solid floralwhite;
    text-align: center;
    font-size: 34px;
}
.tugma{
    position: absolute;
    top:42% ;
    left: 35%;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: rgb(156, 156, 156);
}
.nolga {
    position: absolute;
    top:74% ;
    left: 40%;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background-color: rgb(158, 84, 41);
}